1. Covert a iteger to a floatig-poit umber.
2. Covert a float to a iteger.
3. Covert a iteger to a string.
4. Covert a list to a tuple.
5.  Convert a tuple to a list.
6. Convert a decimal number to binary.
7. Convert a non-zero number to boolean.Covert a iteger to a floatig-poit umber.

In [1]:
# 1) Solution:- 

integer_value =42
float_value = float(integer_value)
print(float_value)

42.0

In [2]:
# 2) Solution:-

float_value = 42.75
integer_value = int(float_value)
print(integer_value)

42

In [13]:
# 3) Solution :-

integer_value = 42
string_value = str(integer_value)
print(string_value)
print(type(string_value))

42
<class 'str'>

In [14]:
# 4) Solution:- 

my_list = [1,5,8,9,10,0]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 5, 8, 9, 10, 0)

In [15]:
# 5) Solution :-

my_tuple = (1,2,35,7,88,7)
my_list = list(my_tuple)
print(my_list)

[1, 2, 35, 7, 88, 7]

In [16]:
# 6) Solution :-

decimal_number = 42
binary_representation = bin(decimal_number)
print(binary_representation)

0b101010

In [19]:
# 7) Solution :- 

non_zero_number = 40
boolean_value = bool(non_zero_number)
print(boolean_value)

integer_value = 50
float_value = float(integer_value)
print(float_value)

True
50.0